
.task_box{
    border: 0.8px solid rgb(223, 220, 220);
    border-radius: 0.6rem;
    background-color: white;
    box-shadow: 0 1px 1px rgb(88, 87, 87);
    min-height: 2.5rem;
    width: 16rem;
    font-size: 16px;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Noto Sans,Ubuntu,Droid Sans,Helvetica Neue,sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    margin: 0.5rem 5px;
    padding-left: 1rem;
   
}
.dark{
    background-color: gray;
}
.task_box:hover{
    background-color: #f1f2f4;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.dark:hover{
    background-color: gray;
}
.task{
    width: 60%;
    word-wrap: break-word;
}
.edit{
    display: flex;
    gap: 0.5rem;
    border-radius: 8px;
    font-size: 2px;
    margin: 2px 3px;
    padding: 4px;
    color: rgb(88, 88, 88);
}
.edit:hover{
    background-color: #dde0e6;
}
.darkEdit :hover{
    background-color: #707070;

}
.hiddenEdit{
    visibility: hidden;
}

.deleteBtn{
    border: none;
    background: transparent;
    cursor: pointer;
    /* height: 2rem; */
    font-size: 20px;
    /* width: 2rem; */
}