.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  border-radius: 0.5rem;
  /* border: 1px solid red; */
  min-height: 2.2rem;
}
.buttonDiv {
  display: flex;
  align-items: center;
  width: 90%;
  min-height: 2.2rem;
  margin: 0 0.2rem;
  padding: 0 1rem;
}

.buttonDiv:hover {
  border-radius: 0.4rem;
  background-color: rgb(230, 226, 226);
  cursor: pointer;
  margin: 0 0.2rem;
  padding: 0 1rem;
}
.buttonDiv.dark:hover{
  background-color: rgb(129, 129, 129);

}
.moreIcons {
  /* border: 1px solid red; */
  padding: 0 0.4rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.3rem;
}

.moreIcons:hover {
  background-color: rgb(230, 226, 226);
  cursor: pointer;
}
.moreIcons.dark:hover{
  background-color: rgb(97, 96, 96);

}
.inputBtn {
  display: flex;
  gap: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.btnDiv {
  /* border: 1px solid red; */
  /* padding:  0 1rem; */
  width: 100%;
  display: flex;
  flex-direction: column;
}
.btnDiv.dark input{
  background-color: transparent;
  color: white;
  box-shadow: 0 1px 1px  rgb(173, 173, 173);

}
.btnDiv input {
  width: 16rem;
  min-height: 4rem;
  font-size: 16px;
  border: none;
  outline: none;
  box-shadow: 0 1px 1px rgb(88, 87, 87);
  border-radius: 0.3rem;
  padding-left: 0.3rem;
  margin-left: 0.2rem;
}

.btnAdd {
  width: 57%;
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
  align-items: center;
}

.btnAdd > button {
  /* display: flex;  */
  padding: 0.5rem 1rem;
  background-color: #0c66e4;
  color: white;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
}
.btnAdd > button:hover {
  background-color: #0e53b3;
}

.closeBtn {
  font-size: 1.7rem !important;
  /* border:2px solid red !important; */
  margin-top: 0.3rem !important;
  color: grey !important;
  cursor: pointer;
}
.closeBtn:hover {
  color: rgb(98, 98, 98) !important;
}
