.addListContainer{
    width: 17rem;
    margin-top: 1rem;
    border-radius: 8px;
    background-color: transparent;
    border: 1px solid white;
    display: flex;
    align-items: center;
    color: white;
    padding: 1rem;
    height: 3rem;
    cursor: pointer;
}
.dark{
    background-color: black;
    color: white;
    border: 1px solid white;
}
.addList{
    width: 17rem;
    max-height: fit-content;
    margin-top: 1rem;
    border-radius: 8px;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap:1.2rem;
    padding: 1rem;
    border: 1px solid white;

}
.addList input{
    height: 2rem;
    outline:none;
    border-color: #0c66E4;
    border-radius: 5px;
    padding: 5px;
}
.addList span{
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
}
.addList button{
    height: 2rem;
    width: 5rem;
    border: none;
    background-color: #0c66E4;
    padding: 5px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}
.addList button:hover{
    background-color: #0e53b3;

}